<mat-card>
<mat-card-title>Dancing Man feels the beat different for evens and odds</mat-card-title>

<div>
<mat-form-field>
    <input matInput type="number" placeholder="Number 1" [(ngModel)]='inputOne'><br/>
</mat-form-field>
<br/>
+<br/>
<mat-form-field>
    <input matInput type="number" placeholder="Number 2" [(ngModel)]='inputTwo'>
</mat-form-field>
<br/>
<mat-card-content>
{{answer}}
</mat-card-content>

<button  mat-raised-button color="primary" (click)='makeDance()'>Make Dance</button>
</div>

<p *ngIf="(answer % 2) == 0">
    (•_•)<br/>
    <)&nbsp;)╯<br/>
    &nbsp;/    \<br/>
    <br/>
</p>
<p *ngIf="(answer % 2 != 0 && answer != null)">
    \(•_•)<br/>
    (&nbsp;(> <br/>
    &nbsp;/    \<br/>
    <br/>
</p>
<p *ngIf="(answer == null)">
    (•_•)<br/>
   <)&nbsp;)><br/>
   /&nbsp; \<br/>
</p>
</mat-card>
