<div fxLayout='column' fxLayoutGap='20px' fxLayooutAlgn='space-evenly'>
  <!-- fxLayout='com' -->
  <pizza-toppings></pizza-toppings>
  <app-tjs-addition></app-tjs-addition>
  <app-tjs-subtract></app-tjs-subtract>
  <dancing-man></dancing-man>
  <app-something></app-something>
  <app-avue-mulitplying></app-avue-mulitplying>
  <app-sjs-addition></app-sjs-addition>
  <prefixer></prefixer>
  <app-awesome-component></app-awesome-component>
  <app-math></app-math>
  <timespan-calculator></timespan-calculator>  
  <mwh-does-athing></mwh-does-athing>
  <app-worst></app-worst>
</div>

