<mat-card>
    <mat-card-title>Sung's Average Component</mat-card-title>
    <label for="">(</label>
    <mat-form-field>
    <input matInput placeholder='First Number' type="number" [(ngModel)]='firstNumber'>
    </mat-form-field>
    +
    <mat-form-field>
    <input matInput placeholder='Second Number' type="number" [(ngModel)]='secondNumber'>
    </mat-form-field>
    <label for="">)</label>
    /
    <mat-form-field>
    <input matInput placeholder='Third Number' type="number" [(ngModel)]='thirdNumber'>
    </mat-form-field>
    &nbsp;
    <button mat-fab (click)='addNumbers()'>Click!</button>
    &nbsp;
    {{ answer }}
</mat-card>