<mat-card>
  <mat-card-title>Pizza</mat-card-title>
  <mat-card-content>
      <button mat-button (click)='checkAll()'>All</button> | <button mat-button (click)='uncheckAll()' >None</button>
  </mat-card-content>
  <p *ngFor='let t of availablePizzaToppings'>
    <mat-checkbox [(ngModel)]='t.checked' (change)='recalculateTotal()'></mat-checkbox>
    {{ t.name }} ({{ t.price | currency }})
    
  </p>
  <p>
    <button *ngIf='false' (click)='calculateTotal()'>Calculate Total</button>
  </p>
  <h3>
    Total: {{ total | currency}} 
    <span *ngIf='showWarning' style='color: red; font-size: 0.7em'>(Don't forget to choose your toppings)</span>
  </h3>
</mat-card>
