<div>
  <h1>Adding with Colors</h1>
  <input type="radio" name="firstColor" id="red"><span style="color:red; font-family: 'Lucida Sans', Verdana, sans-serif">red</span>
  <input type="radio" name="firstColor" id="yellow"><span style="color:gold; font-family: 'Lucida Sans', Verdana, sans-serif">yellow</span>
  <input type="radio" name="firstColor" id="blue"><span style="color:darkblue; font-family: 'Lucida Sans', Verdana, sans-serif">blue</span>
  <br /><br />
  <span style="font-family: 'Lucida Sans', Verdana, sans-serif; padding: 1.5em;">plus</span>
  <br /><br />
  <input type="radio" name="secondColor" id="red"><span style="color:red; font-family: 'Lucida Sans', Verdana, sans-serif">red</span>
  <input type="radio" name="secondColor" id="yellow"><span style="color:gold; font-family: 'Lucida Sans', Verdana, sans-serif">yellow</span>
  <input type="radio" name="secondColor" id="blue"><span style="color:darkblue; font-family: 'Lucida Sans', Verdana, sans-serif">blue</span>
  <br /><br />
  <button style="margin: 0 0.75em; font-family: 'Lucida Sans', Verdana, sans-serif">equals</button>
  <br />
</div>