<div style="font-family:'Lucida Sans', Verdana, sans-serif;">
  <h1>Adding with Colors</h1>
  <input type="number" [(ngModel)]='firstNumber'>
  plus
  <input type="number" [(ngModel)]='secondNumber'>
  <button (click)='addNumbers()'>=</button>
  {{ result }}
</div>
<div>
    <p *ngFor='let t of colors'>
      <input type="checkbox" [(ngModel)]='t.checked'> 
      {{ t.name }}
    </p>
    <button (click)='findColor()'>Find Color</button>
    <p style="font-family:'Lucida Sans', Verdana, sans-serif;">{{ foundColor }}</p>
</div>